In [69]:
file = 'safeway_salesupdate.xlsx'
transition_date_range = '2022SS'
current_year = 2022
current_week = 18



def safeway_denver_transform(file, transition_date_range, current_year, current_week):
    

    old = pd.read_excel(f'{file}')

    names =old.columns
    string = names[0]


    #stripping date from string and converting it to datetime object

    match_str = re.search(r'\d{1}/\d{1}/\d{4}', string)


    if match_str == None:
        match_str = re.search(r'\d{1}/\d{2}/\d{4}', string)

    if match_str == None:
        match_str = re.search(r'\d{2}/\d{1}/\d{4}', string)

    if match_str == None:
        match_str = re.search(r'\d{2}/\d{2}/\d{4}', string)


    # computed date
    # feeding format
    date = datetime.strptime(match_str.group(), '%m/%d/%Y').date()


    #assign store year variable using datetime object
    store_year = date.year


    #assign store_week variable using datetime object
    store_week = date.strftime('%m/%d/%Y')
    store_week




    old = pd.read_excel(f'{file}', skiprows=2)


    #select upc out of string and then converts to proper datatype for database
    old['UPC - Description'] = old['UPC - Description'].str[:11]
    old['UPC - Description'] = old['UPC - Description'].astype(str).astype(np.int64)

    old = old.rename(columns={ 'UPC - Description': 'upc',
                              'Sales (TY)': 'sales',
                              'Units (TY)': 'qty',
                              'Store': 'store_number'
                             })

    #creating transition collumn, store_week, store_year, store_type collumn

    old['transition_date_range'] = f'{transition_date_range}'

    old['store_week'] = store_week

    old['store_year'] = store_year

    old['store_type'] = 'safeway_denver'

    old['current_year'] = current_year

    old['current_week'] = current_week

    new = old[['transition_date_range',
              'store_year',
              'store_week',
              'store_number',
              'upc',
              'sales',
              'qty',
              'current_year',
              'current_week',
              'store_type']]

    return new

,transition_date_range,store_year,store_week,upc,sales,qty,current_year,current_week,store_type
0,2022SS,2022,05/07/2022,81031202374,33.980,2,2022,18,safeway_denver
1,2022SS,2022,05/07/2022,81031202373,16.990,1,2022,18,safeway_denver
2,2022SS,2022,05/07/2022,81031202065,0.000,0,2022,18,safeway_denver
3,2022SS,2022,05/07/2022,81031202372,50.970,3,2022,18,safeway_denver
4,2022SS,2022,05/07/2022,81031202373,67.960,4,2022,18,safeway_denver
...,...,...,...,...,...,...,...,...,...
178,2022SS,2022,05/07/2022,81031202373,33.980,2,2022,18,safeway_denver
179,2022SS,2022,05/07/2022,81031202155,0.000,0,2022,18,safeway_denver
180,2022SS,2022,05/07/2022,81031202217,0.000,0,2022,18,safeway_denver
181,2022SS,2022,05/07/2022,81031202283,0.000,0,2022,18,safeway_denver
182,2022SS,2022,05/07/2022,81031202373,33.414,2,2022,18,safeway_denver

In [67]:
import re


old = pd.read_excel(f'{file}')

names =old.columns
string = names[0]


#stripping date from string

match_str = re.search(r'\d{1}/\d{1}/\d{4}', string)


if match_str == None:
    match_str = re.search(r'\d{1}/\d{2}/\d{4}', string)
    
if match_str == None:
    match_str = re.search(r'\d{2}/\d{1}/\d{4}', string)

if match_str == None:
    match_str = re.search(r'\d{2}/\d{2}/\d{4}', string)
    

# computed date
# feeding format
date = datetime.strptime(match_str.group(), '%m/%d/%Y').date()

a= date.year

store_week = date.strftime('%m/%d/%Y')
store_week

'05/07/2022'

In [13]:
store_type_input = 'kvat'
df = pd.read_excel(rf'C:\Users\User1\OneDrive\WinWin Staff Folders\Michael\Replenishment program\stores\{store_type_input}\{store_type_input}_deliverydata.xlsx')
df

,id,transition_date_range,type,date,upc,store,qty,store_type,num
0,6474,NaN,Invoice,2019-10-01,J5153,206,48,kvat,1
1,6475,NaN,Invoice,2019-10-01,J5153,211,48,kvat,1
2,6476,NaN,Invoice,2019-10-01,J5153,214,48,kvat,1
3,6477,NaN,Invoice,2019-10-01,J5153,217,48,kvat,1
4,6478,NaN,Invoice,2019-10-01,J5153,230,48,kvat,1
...,...,...,...,...,...,...,...,...,...
3203,9677,2022SS,Invoice,2022-05-02,810312024188,616,32,kvat,491563
3204,9678,2022SS,Invoice,2022-05-02,810312024195,610,4,kvat,491545
3205,9679,2022SS,Invoice,2022-05-02,810312023686,898,4,kvat,491561
3206,9680,2022SS,Invoice,2022-05-03,810312024362,428,4,kvat,491660
3207,9681,2022SS,Invoice,2022-05-03,810312024355,428,44,kvat,491660

In [4]:
from transform_safeway import safeway_denver_transform



file ='safeway_denver_salesupdate.xlsx'
transition_date_range ='2022SS'
current_year= 2022
current_week = 19
                
                
salesdata = safeway_denver_transform(file, transition_date_range, current_year, current_week)
salesdata

,transition_date_range,store_year,store_week,store_number,upc,sales,qty,current_year,current_week,store_type
0,2022SS,2022,05/14/2022,17,81031202373,8.4900,1,2022,19,safeway_denver
1,2022SS,2022,05/14/2022,41,81031202155,14.9900,1,2022,19,safeway_denver
2,2022SS,2022,05/14/2022,41,81031202372,16.9900,1,2022,19,safeway_denver
3,2022SS,2022,05/14/2022,322,81031202372,33.9800,2,2022,19,safeway_denver
4,2022SS,2022,05/14/2022,322,81031202373,84.9500,5,2022,19,safeway_denver
...,...,...,...,...,...,...,...,...,...,...
175,2022SS,2022,05/14/2022,3728,81031202069,0.0000,0,2022,19,safeway_denver
176,2022SS,2022,05/14/2022,3729,81031202155,0.0000,0,2022,19,safeway_denver
177,2022SS,2022,05/14/2022,3729,81031202254,0.0000,0,2022,19,safeway_denver
178,2022SS,2022,05/14/2022,3729,81031202283,0.0000,0,2022,19,safeway_denver
179,2022SS,2022,05/14/2022,3729,81031202373,15.6246,1,2022,19,safeway_denver

In [2]:
from store_info import Replenishment

delta = Replenishment('kroger_central','2022SS', '2022', '19')
# delta.delivery_import('kroger_delta_deliverydata')
delta.delivery_update('kroger_central')
# delta.sales_import('kroger_delta_salesdata')
delta.sales_update('Sherlock Store Matrix')

Delivery Data Updated
Updated: 16 Records
Inserted: 0 Records

C:\Users\User1\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\User1\OneDrive\WinWin Staff Folders\Michael\Replenishment program\Replenishment\Update\Transform_Sales_Data\transform.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
  new['RPT_SHORT_DESC'] = new.RPT_SHORT_DESC.str.replace('[^a-zA-Z]', '')
C:\Users\User1\OneDrive\WinWin Staff Folders\Michael\Replenishment program\Replenishment\Update\Transform_Sales_Data\transform.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_df['store_type'] = store_list[divisions[i]]

Sales Data Updated
Updated: 293 Records
Inserted: 0 Records